body {
  background: aqua;
}

#main-title {
  font-size: 2em;
  margin: 20px 0;
  text-align: center;
}

#garage {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

.garage-item {
  height: 30px;
  font-size: 1.4em;
}